.App {
  min-height: 100vh;
  background-color: #282c34;
}

.editor {
  float: left;
  background-color: beige;
  min-height: 90vh;
  width: 45%;
  border: 2px solid black;
  margin: 1% 0px 0px 2%;
  box-shadow: 2px 2px 10px 4px cyan;
  border-radius: 10px;
}

.preview {
  float: right;
  background-color: beige;
  min-height: 90vh;
  width: 45%;
  border: 2px solid black;
  margin: 1% 2% 0px 0px;
  box-shadow: 2px 2px 10px 4px cyan;
  border-radius: 10px;
}

.toolbar {
  background-color: aquamarine;
  border-radius: 7px 7px 0px 0px;
  padding-left: 10px;
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

.title {
  margin-left: 10px;
}

.max-icon {
  float: right;
  margin-right: 10px;
}

.max-icon:hover{
  color: white;
}